@import "tailwindcss";

body {
    user-select: none;
    font-family: Lato, sans-serif;
    background-color: #005894; /* optional styling */
    color: white;
}

/* index.html or your CSS file */
.drag-region {
    -webkit-app-region: drag; /* makes this area draggable */
}

/* Non-draggable elements inside draggable area */
button, input, .slider-container {
    -webkit-app-region: no-drag; /* prevents button from dragging the window */
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    position: absolute;
    background: transparent;
    pointer-events: none;
    z-index: 2;
}

/* Custom track (hidden default) */
input[type="range"]::-webkit-slider-runnable-track {
    height: 2px;
}

/* Custom thumb styling (Centered) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: white;
    border: 3px solid #23a9f7;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    z-index: 3;
    transform: translateY(-30%);
}

input[type="range"]::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: white;
    border: 3px solid #23a9f7;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    z-index: 3;
    transform: translateY(-30%);
}

/* Centering the range input itself */
.slider-container {
    position: relative;
    height: 18px; /* Adjust height to fit thumb */
}
